.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2%;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 96%;
    z-index: 1001; /* Ensure it stays above the nav bar */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
    position: relative;
    color: white;
}

.search-bar::placeholder {
    color: #ffffff; /* Change this to your desired color */
    opacity: 1; /* Ensure the color is fully opaque */
}

.search-bar {
    flex-grow: 1;
    padding: 5px 30px 5px 5px; /* Add padding to the right for the icon */
    font-size: 16px;
    background-color:#272727;
    color: white;
}

.search-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px; /* Position the icon inside the search bar */
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.help-bot {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.profile-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.message-icon {
    width: 65px;
    height: 65px;
    margin: 0 20px;
    padding: 0;
    cursor: pointer;
}