.nav-bar {
    border-top: 1px solid #444;
    background-color: #272727;
    padding: 10px 20%;
    position: fixed;
    top: 80px; /* Adjust this value based on the height of the header */
    width: 60%;
    z-index: 1000; /* Ensure it stays above other content */
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: underline;
}
