
.nav-bar {
    background-color: grey;
    padding: 10px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: underline;
}
